
body{
  background-color: rgb(189, 218, 219);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: rgb(240, 184, 232);
  color: rgb(255, 255, 255);
  font-family: comic sans MS;
  font-size: 30px;
  padding:20px;
  border-style: ridge;
  border-color: rgb(11, 255, 141);
  border-width: thick;

}
