body {
  background-color: rgb(255, 217, 0);
  
}
.center {
  margin: auto;
  width: 50%;
  border: 10px;
}
.see {
  font-family: Comic Sans Ms;
 
}

.list {
  color: blueviolet;
  background-color: rgb(255, 210, 251);
  padding: 10px;
  
  -webkit-animation:colorchange 8s infinite alternate;
      
      
}

@keyframes colorchange {
  0% {
    
    color: blue;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: blue;
  }
  
  50% {
    
    color: #34495e;
  }
  
  60% {
    
    color: blue;
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}
