.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: rgb(28, 197, 141)
}
body {
    background-color: beige;
}